<!-- 
	8 ~ 도 일때 옷차림 추천 
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align: center; margin-top: 50px;">
    <div>
        <a href="/">처음 페이지로 돌아가기</a>
        <br>
        {% if pred %}
            <h3> 오늘 체감 온도는</h3> <h1>{{ pred }}도</h1>
        {% endif %}
        <br>
        <h2> 오늘의 추천 옷차림은 자켓, 트랜치코트, 야상, 니트, 청바지 입니다</h2>
        <br>
    </div>
    <div>
        <h5>추천 옷차림 카테고리 쇼핑하러 가기</h5>
        <div>
            <a href="https://www.musinsa.com/search/musinsa/integration?type=&q=%EC%9E%90%EC%BC%93">자켓</a>
            <a href="https://www.musinsa.com/search/musinsa/integration?type=&q=%ED%8A%B8%EB%A0%8C%EC%B9%98%EC%BD%94%ED%8A%B8">트랜치코트</a>
            <a href="https://www.musinsa.com/search/musinsa/integration?type=&q=%EC%95%BC%EC%83%81">야상</a>
            <a href="https://www.musinsa.com/search/musinsa/integration?type=&q=%EB%8B%88%ED%8A%B8">니트</a>
            <a href="https://www.musinsa.com/search/musinsa/integration?type=&q=%EC%B2%AD%EB%B0%94%EC%A7%80">청바지</a>
        </div>
    </div>
</body>
</html>